@using CustomerServiceSystem.Model.Models
@model List<Registration>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



<br />
<h1 style="text-align:center">Registrations List</h1>
<br />
<table class="table table-bordered" style="text-align: center">
    <tr>
        <th style="text-align: center">ID</th>
        <th style="text-align: center">Department</th>
        <th style="text-align: center">Department ID</th>
        <th style="text-align: center">Title</th>
        <th style="text-align: center">Description</th>
        <th style="text-align: center">Created By</th>
        <th style="text-align: center">Created On</th>
        <th style="text-align: center">Modified By</th>
        <th style="text-align: center">Modified On</th>
        <th style="text-align: center">Statu</th>



    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Department.Title</td>
            <td>@x.Department.Id</td>
            <td>@x.Title</td>
            <td>@x.Description</td>
            <td>@x.CreatedBy</td>
            <td>@x.CreatedOn</td>
            <td>@x.ModifiedBy</td>
            <td>@x.ModifiedOn</td>
            <td>@x.Statu.Title</td>
        </tr>

    }
</table>